{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <script src="/public/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" charset="UTF-8"></script>
        <script>
        function myFunction() {
            try {
              webkit.messageHandlers.callbackHandler.postMessage("MessageBody")
              document.getElementById("demo").innerHTML = "Paragraph changed.";
            } catch (e) {
              alter(err)
            } finally {

            }
        }
        </script>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <h2>JavaScript in Body</h2>

        <p id="demo">A Paragraph.</p>

        <button type="button" onclick="myFunction()">Try it</button>

        <!-- {% for post in posts %}
          <div class="post">
            <p>published: {{ post.published_date }}</p>
            <h3><a href="">{{ post.title }}</a></h3>
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
        {% endfor %} -->
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                            <h1><a href="">{{ post.title }}</a></h1>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>


<!-- <html>
  <head>
    <title>Meccatol's Blog</title>
  </head>
  <body>
    <p>Hi there!<br />Heeeeeeeeeelo!</p>
    <p>It works!</p>
    <a href="http://djangogirls.org">Django girls Link</a>
  </body>
</html> -->
